<div ng-controller="CD.UmbracoFormsMailchimpWorkflow.FieldMapping">
    <div>
        <select ng-if="model.showListsDropdown" ng-model="model.mcListId" ng-options="list.id as list.name for list in model.mcLists" ng-change="getListFields()">
            <option value="">Select a Mailchimp list</option>
        </select>
    </div>
    <div>
        <select ng-if="model.showFieldsDropdown" ng-model="model.mcFieldId" ng-options="field.merge_id as field.name for field in model.mcFields">
            <option value="">Select a Mailchimp list field</option>
        </select>
    </div>
    <div>
        <select ng-model="model.fieldId" ng-options="field.alias as field.caption for field in model.fields">
            <option value="">Select a form field</option>
        </select>
    </div>
</div>
